@charset "UTF-8";
/*Page Accueil*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: auto;
  height: auto;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration-line: none;
  color: black;
}

h1 {
  font-family: "Shrikhand", cursif;
}

/*Page d'accueil*/
@media (min-width: 1100px) {
  .headerdesktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.nouveau {
  margin: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  color: #006633;
  background-color: #99E2D0;
  animation: nouv 1500ms infinite;
}

@keyframes nouv {
  from {
    transform: rotatex(0turn);
  }
  to {
    transform: rotatex(1turn);
  }
}
/*Pages- pas de bases*/
.menurestaurantsimg {
  position: relative;
  z-index: 1;
  margin-bottom: -15%;
  height: 300px;
  width: 100%;
}
@media (min-width: 500px) {
  .menurestaurantsimg {
    height: 550px;
    margin-bottom: -10%;
  }
}
@media (min-width: 900px) {
  .menurestaurantsimg {
    margin-top: -15%;
    height: 750px;
    margin-bottom: -10%;
  }
}
@media (min-width: 1200px) {
  .menurestaurantsimg {
    height: 1000px;
    margin-top: -20%;
    margin-bottom: -15%;
  }
}

@media (min-width: 1100px) {
  .menudesktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    align-items: baseline;
  }
}

/*Footer*/
.footer {
  background-color: #272626;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer_img {
  margin-right: 10px;
  font-size: 9px;
}
.footer_logo {
  font-family: "Shrikhand", cursif;
  font-size: 1.5rem;
  font-weight: 400;
}
.footer_link {
  color: #fff;
  font-weight: 300;
}
.footer_link:hover {
  color: #9356DC;
}
.footer_list {
  list-style: none;
  padding: 0px 0px;
  width: 100%;
}
.footer_listtexte {
  padding-bottom: 10px;
}

/*revoir*/
.load {
  height: 100%;
  width: 100%;
  font-size: 50px;
  animation: load 500ms both 1000ms;
  background-color: #9370DC;
}
.load_logo {
  color: #fff;
  height: 100%;
}

@keyframes load {
  0% {
    width: 0%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.headerlogo {
  text-align: center;
  padding: 16px;
  position: relative;
  font-family: "Shrikhand", cursif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.headerlogo_img {
  margin: 0;
}

.headerreservationloca {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.headerreservationloca_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  background-color: #e9e9e9;
  padding: 22px 0px;
  width: 100%;
  box-shadow: 0px 2px 4px 0px #afaeae inset;
}
.headerreservationloca_logo {
  margin-right: 15px;
  font-size: 20px;
}
@media (min-width: 1100px) {
  .headerreservationloca_logo {
    font-size: 23px;
    height: 100%;
    max-height: 100%;
  }
}
.headerreservationloca_texte {
  margin: 0;
  font-size: 20px;
  padding-right: 30px;
}
@media (min-width: 1100px) {
  .headerreservationloca_texte {
    font-size: 23px;
  }
}

.headerreservationtexte {
  background-color: #f5f5f5;
  padding: 45px;
  padding-bottom: 65px;
  height: 100%;
}
.headerreservationtexte_title {
  margin: 0;
  font-size: 23px;
}
.headerreservationtexte_byline {
  margin-bottom: 40px;
  font-size: 16px;
}
@media (min-width: 1100px) {
  .headerreservationtexte_byline {
    font-size: 20px;
    margin-bottom: 60px;
  }
}
.headerreservationtexte_bouton {
  border: 0;
  padding: 0.9rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(7, 7, 7, 0.25);
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  transform: scale(1);
  transition: all 200ms ease-in-out;
  display: inline-block;
}
.headerreservationtexte_bouton:hover {
  background-image: linear-gradient(0deg, #9370DC, #F780DC);
  transform: scale(1.02);
  box-shadow: 5px 5px 10px rgba(7, 7, 7, 0.4);
}
@media (min-width: 1100px) {
  .headerreservationtexte_bouton {
    font-size: 20px;
  }
}
@media (min-width: 1100px) {
  .headerreservationtexte {
    box-shadow: 0px 2px 4px 0px #afaeae inset;
    height: 100%;
    max-height: 100%;
    padding: 60px;
  }
}

/*Fonctionnement*/
.fonctionnement {
  padding: 3rem 1.5rem;
  background-color: #fff;
}
.fonctionnement_title {
  margin-top: 0;
  margin-bottom: 30px;
}
@media (min-width: 1100px) {
  .fonctionnement_title {
    background-color: #e9e9e9;
    font-size: 23px;
    padding: 22px 0px;
    margin-bottom: 0;
    box-shadow: 0px 2px 4px 0px #afaeae inset;
    width: 100%;
    text-align: center;
  }
}
.fonctionnement_step {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1100px) {
  .fonctionnement_step {
    box-shadow: 0px 2px 4px 0px #afaeae inset;
    justify-content: space-evenly;
    padding: 30px 15%;
    row-gap: 1rem;
  }
}
.fonctionnement_part {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.25s;
  background-color: #f6f6f6;
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(136, 136, 136, 0.25);
  position: relative;
}
.fonctionnement_part:hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: #e5dbf1;
}
.fonctionnement_part:hover .fonctionnement_logo {
  color: #9356DC;
}
@media (min-width: 1100px) {
  .fonctionnement_part {
    background-color: #fff;
  }
}
.fonctionnement_part:nth-child(1) {
  margin-bottom: 10px;
}
.fonctionnement_part:nth-child(2) {
  margin: 10px 0px;
}
.fonctionnement_part:nth-child(3) {
  margin-top: 10px;
}
.fonctionnement_number {
  padding: 8px 12px;
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  left: -1rem;
  bottom: 1rem;
  font-size: 15px;
}
.fonctionnement_logo {
  padding-left: 1.5rem;
  margin-right: 20px;
  color: #afaeae;
  font-size: 1.1rem;
}
@media (min-width: 1100px) {
  .fonctionnement {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    font-weight: bold;
  }
}
@media (min-width: 1100px) {
  .fonctionnement_container {
    background-color: #f5f5f5;
  }
}

/*section restaurants*/
.restaurants {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  background-color: #f6f6f6;
  border-radius: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 25px 16px;
  /* revoir*/
}
@media (min-width: 1100px) {
  .restaurants_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 2rem;
  }
}
@media (max-width: 1100px) {
  .restaurants_container {
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(4, 1fr) auto;
    row-gap: 1rem;
  }
}
.restaurants_title {
  grid-column: 1/-1;
  padding: 1rem 0rem;
  margin: 10px 0px;
}
@media (min-width: 1100px) {
  .restaurants_title {
    padding-top: 30px;
  }
}
@media (max-width: 1100px) {
  .restaurants_title {
    grid-column: 1/-1;
    grid-row: 1/1;
  }
}
.restaurants_card {
  box-shadow: 0 0 20px #0000002e;
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 17rem;
  transition-duration: 0.1s;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 20px;
}
.restaurants_card:hover {
  transform: scale(1.02);
}
@media (min-width: 1100px) {
  .restaurants_card {
    height: 400px;
    width: 100%;
  }
}
@media (max-width: 1100px) {
  .restaurants_card1 {
    grid-column: 2/2;
    grid-row: 2/2;
  }
}
@media (max-width: 1100px) {
  .restaurants_card2 {
    grid-column: 2/2;
    grid-row: 3/3;
  }
}
@media (max-width: 1100px) {
  .restaurants_card3 {
    grid-column: 2/2;
    grid-row: 4/4;
  }
}
@media (max-width: 1100px) {
  .restaurants_card4 {
    grid-column: 2/2;
    grid-row: 5/5;
  }
}
.restaurants_cardwrapimg {
  position: relative;
  flex: 1;
}
.restaurants_cardwrapimgImg {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}
.restaurants_cardfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
}
.restaurants_cardDesc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.restaurants_heading {
  margin: 1rem 1.5rem 0rem 1rem;
  font-size: 100%;
}
.restaurants_byline {
  margin: 0.4rem 1.5rem 1rem 1rem;
  font-size: 100%;
}
@media (min-width: 1100px) {
  .restaurants {
    background-color: #fff;
  }
}
.restaurants_logo {
  font-size: 25px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
  background-color: #fff;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.restaurants_logo:hover::after {
  opacity: 1;
  background-clip: text;
}
.restaurants_logo::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  z-index: -1;
  transition: opacity 250ms;
}

/*La Palette du goût*/
.headerlogo {
  background-color: #fff;
  position: relative;
  padding: 16px;
  font-family: "Shrikhand", cursif;
  text-align: center;
  z-index: 2;
}
.headerlogo_arrowback {
  position: absolute;
  left: 0;
  padding: 1.5rem;
  font-size: 20px;
}
.headerlogo_img {
  margin: 0;
}

.menu {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 15px;
  border-radius: 40px 40px 0 0;
}
.menu_header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.menu_headertitle {
  font-size: 30px;
  font-weight: 500;
  font-family: "Shrikhand", sans-serif;
}
.menu_headerlogo {
  font-size: 28px;
}
.menu_entrées, .menu_plats, .menu_desserts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu_title {
  padding: 0.8rem;
  text-transform: uppercase;
  border-bottom: solid 3.5px #99E2D0;
  padding-bottom: 5px;
  padding-left: 0;
  width: 45px;
  margin-bottom: 20px;
}
.menu_card {
  background-color: #fff;
  padding: 0.8rem;
  width: 100%;
  border-radius: 1.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(136, 136, 136, 0.25);
  position: relative;
  cursor: pointer;
  transform: scaleX(1);
  z-index: 1;
}
.menu_card:hover + .check {
  border-radius: 0rem 1.5rem 1.5rem 0rem;
  width: 70px;
  opacity: 1;
  animation: check 330ms ease-in-out;
  transform-origin: right;
}
.menu_card:hover + .check span {
  transform: rotate(1turn);
}
.menu .check {
  background-color: #99E2D0;
  color: white;
  height: 65px;
  font-size: 22px;
  width: 0%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 1.5rem;
  transition: transform 500ms cubic-bezier(0.32, 0, 0.07, 1);
  margin-right: 0;
  cursor: pointer;
  z-index: 2;
  margin-left: -15px;
}
.menu .check span {
  display: block;
  transform: rotate(0turn);
  transition: transform 300ms ease-in-out 50ms;
}
.menu .check:hover {
  width: 70px;
  opacity: 1;
  border-radius: 0rem 1.5rem 1.5rem 0rem;
  animation: check 330ms ease-in-out;
  transform-origin: right;
}
.menu .check:hover span {
  transform: rotate(1turn);
}
@keyframes check {
  0% {
    width: 3%;
  }
  100% {
    width: 15%;
  }
}
.menu_allcard {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  animation: app 2000ms both 800ms;
  transform-origin: top;
  opacity: 0;
}
.menu_allcard--1 {
  animation-delay: 500ms;
}
.menu_allcard--2 {
  animation-delay: 1000ms;
}
.menu_allcard--3 {
  animation-delay: 1500ms;
}
.menu_allcard--4 {
  animation-delay: 2000ms;
}
.menu_allcard--5 {
  animation-delay: 2500ms;
}
.menu_allcard--6 {
  animation-delay: 3000ms;
}
.menu_allcard--7 {
  animation-delay: 3500ms;
}
.menu_allcard--8 {
  animation-delay: 4000ms;
}
.menu_allcard--9 {
  animation-delay: 4500ms;
}
@keyframes app {
  from {
    transform: scaley(1) translatey(30%);
  }
  to {
    transform: scaley(1) translatey(0);
    opacity: 1;
  }
}
.menu_cardtitle {
  margin: 0;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu_desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
  cursor: pointer;
  font-size: 15.5px;
}
.menu_desctitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu_descprice {
  margin-right: 10px;
}

.bouton {
  display: flex;
  justify-content: center;
}
.bouton_container {
  text-align: center;
  border: 0;
  padding: 1rem;
  font-weight: 540;
  width: 210px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(7, 7, 7, 0.25);
  transition: all 0.25s ease-in-out;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  margin: 20px;
}
@media (min-width: 1100px) {
  .bouton_container {
    font-size: 20px;
  }
}
.bouton_container:hover {
  background-image: linear-gradient(0deg, #9370DC, #F780DC);
  transform: scale(1.03);
  box-shadow: 5px 5px 10px rgba(7, 7, 7, 0.4);
}
.bouton_reservation {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
