/*Toutes les pages*/
html,
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: auto;
  height: 100%; 
  width: 100%;
  max-width:100%;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration-line: none;
  color: $color-black;
}
h1{
  font-size: $font-size-heart;
  font-weight:$font-weight-h1;
  font-family: "Shrikhand", cursif;
}
h2{
  padding:$little-padding;
  padding-left:0px;
  margin:0;
  font-weight:$font-weight-h2;
}
h3{
  padding-top:$little-padding;
  margin:0;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

/*Footer*/
.footer{
  background-color:$color-footer;
  color: $color-white;
  padding: $padding-footer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
    @media (min-width:1000px){
      padding:$padding-footer-mobile;
    }
      &_img {
        margin-right: $margin-part;
        font-size: $font-size-logo;
          @media (min-width:1000px){
            font-size:$font-size;
          }
      }
      &_logo {
        font-family: "Shrikhand", cursif;
        font-size: $bigger-font-size;
        font-weight: $font-weight-logo-footer;
          @media (min-width:1000px){
            font-size:$font-size-desktopversion;
          }
      }
      &_link {
        color: $color-white;
        font-weight:$font-weight-link;
          &:hover{
            color:$color-primary;
          }
            @media (min-width:1000px){
              font-size:$font-size;
            }
      }
      &_list {
        list-style: none;
        padding: 0px 0px;
        width: 100%;
          @media (min-width:1000px){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
      }
      &_listtexte {
        padding-bottom: $margin-part;
      }
}


