/*Toutes les pages*/
html,
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: auto;
  height: 100%; 
  width: 100%;
  max-width:100%;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration-line: none;
  color: $color-black;
}
h1{
  font-size: $font-size-heart;
  font-weight:500;
  font-family: "Shrikhand", cursif;
}
h2{
  padding:$little-padding;
  padding-left:0px;
  margin:0;
}
h3{
  padding-top:$little-padding;
  margin:0;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

/*Footer*/
.footer {
  background-color: rgb(39, 38, 38);
  height: 100%;
  color: $color-white;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  @media (min-width:1000px){
    padding:2rem 4rem;
  }
  &_img {
    margin-right: 10px;
    font-size: 9px;
    @media (min-width:1000px){
      font-size:20px;
    }
  }
  &_logo {
    font-family: "Shrikhand", cursif;
    font-size: 1.5rem;
    font-weight: 400;
    @media (min-width:1000px){
      font-size:1.7rem;
    }
  }
  &_link {
    color: $color-white;
    font-weight: 300;
    &:hover{
      color:$color-primary;
    }
    @media (min-width:1000px){
      font-size:18px;
    }
  }
  &_list {
    list-style: none;
    padding: 0px 0px;
    width: 100%;
    @media (min-width:1000px){
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &_listtexte {
    padding-bottom: 10px;
  }
}


