/*Header - logo & arrow*/
.headerlogo {
    background-color:$color-white;
    position:relative;
    padding: map-get($sizes,padding);
    font-family: "Shrikhand", cursif;
    text-align:center;
    z-index:2;
    &_arrowback{
        display:inline-block;
        position:absolute;
        left:0;
        padding:$padding-section;
        font-size:map-get($sizes,margin);
    }
    &_img {
      margin: 0;
    }
  }

/*bannieres*/ 
.menurestaurantsimg{
    z-index: 1;
    margin-bottom:$margin-img;
    height: 300px;
    width: 100%; 
    object-fit:cover;
        @media (min-width:500px){
        height: 550px;
        margin-bottom:$margin-img;
        }
        @media (min-width:900px){
        margin-top:$margin-img;
        height: 750px;
        margin-bottom:$margin-img;
        }
        @media (min-width:1200px){
        height: 1000px;
        margin-top:$margin-img;
        margin-bottom:$margin-img;
        }
}

/*Section Menu*/
.menu{
    position:relative;
    z-index:2;
    display: flex;
    flex-direction:column;
    background-color:$background-color; 
    padding:$padding-section;
    border-radius:$border-radius-menu;
    &_header{
        display:flex;
        flex-direction: row;
        align-items: baseline;
        justify-content:space-between;
    }
    /*revoir logo*/
    &_headerlogo{
        font-size:$font-size-heart;
        padding:0px $padding-logo-header;
        cursor:pointer;
        &:hover:before{
            transition: all .8s ease-in-out;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(0deg, $color-primary, $color-secondary);
            background-clip:text;
        }
    }
    &_entrées, &_plats, &_desserts{
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
    &_title{
        padding:map-get($sizes,padding); 
        text-transform: uppercase;
        border-bottom:solid $border-bottom-size $color-tertiary;
        padding-bottom:$little-padding;
        padding-left:0;
        width:$header-border;
        margin-bottom:map-get($sizes,margin);
    }
    &_allcard{
        border-radius: $border-radius-card;
        font-size:map-get($sizes,padding);
        display: flex;
        flex-direction:row;
        align-items: center;
        margin-bottom:$margin-cards;
        cursor:pointer;
        animation:app 2000ms both 800ms;
        transform-origin:top;
        opacity:0;
        width:100%;
        height:$height-card;
        box-shadow: $box-shadow-card;
        background-color:$color-white; 
        overflow:hidden;
        &--1{
            animation-delay:500ms;
        }
        &--2{
            animation-delay:1000ms;
        }
        &--3{
            animation-delay:1500ms;
        }
        &--4{
            animation-delay:2000ms;
        }
        &--5{
            animation-delay:2500ms;
        }
        &--6{
            animation-delay:3000ms;
        }
        &--7{
            animation-delay:3500ms;
        }
        &--8{
            animation-delay:4000ms;
        }
        &--9{
            animation-delay:4500ms;
        }
        &:hover{
            .menu_card{
                border-radius:$border-radius-allcards;
                cursor:pointer;
                &:hover + .check{
                    border-radius:$border-radius-check-hover;
                    width:$check-width;
                    opacity:1;  
                    animation: slide 430ms linear;
                    transform-origin:right;
                        span{
                            transform:rotate(1turn);
                        }
                }
            }
        }
       
    }
    @keyframes app{
        from{
        transform :scaley(1) translatey(30%);
        }
        to{
        transform :scaley(1) translatey(0);
        opacity:1;
        }
    }
    &_card{
        width:100%;
        min-width:80%;
        padding:$padding-card; 
    }
    &_cardtitle{
        margin: 0;
        font-size:$card-tittle;
    }
    &_desc{
       display:flex;
       flex-direction:row;
       justify-content: space-between;
       align-items:baseline;
       flex-wrap:nowrap;
       cursor:pointer;
       font-size:$desc-size;
       padding-bottom:$little-padding;
    }  
    &_desctitle{
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        padding-top:$little-padding;
    }
    &_descprice{
        margin-right:$margin-part;
        font-weight:bold;
    }
}
    
/*Slide check*/
.check{
    background-color:$color-tertiary;
    color:white;
    height:$height-check;
    font-size:$bigger-font-size;
    width:0%; 
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:$border-radius-check;
    margin-right:0;
    cursor:pointer; 
    span{
        display:block;
        transform:rotate(0turn);
        transition:transform 300ms ease-in-out 50ms;
    }
    &:hover{
        width:$check-width;
        max-width:$check-width;
        border-radius:$border-radius-check-hover;
        animation: slide 430ms linear;
        span{
            transform:rotate(1turn);
        }
    }
    &:not(:hover){
        animation: slide-reverse 430ms linear;
        border-radius:$border-radius-check-hover;
    }
}
@keyframes slide{
    0%{
        transition:scalex(0);
width:0%;
    }
    100%{
        transition:scalex(1);
width:$check-width;
    }
}

@keyframes slide-reverse{
    0%{
width:$check-width;
    }
    100%{
width:0%;
    }
}

/*Bouton commander*/
.bouton{
    display:flex;
    justify-content:center;
    margin:$margin-bouton;
    &_container{
        text-align:center;
        border: 0;
        padding: $padding-bouton-menu;
        font-weight:$font-weight-bouton;
        font-size:$font-size-bouton;
        border-radius: $border-radius-bouton;
        cursor: pointer;
        box-shadow: $box-shadow-bouton;
        transition: all 250ms ease-in-out;
        @include degrade;
            @media (min-width: 1100px) {
                font-size: $font-size;
            }
            &:hover{
                background-image: linear-gradient(0deg, $color-primary-light, $color-secondary-light);
                box-shadow:$box-shadow-bouton-hover;
            } 
    }
    &_reservation{
        color:$color-white;

    }    
}



