.headerlogo {
    background-color:$color-white;
    position:relative;
    padding: map-get($sizes,padding);
    font-family: "Shrikhand", cursif;
    text-align:center;
    z-index:2;
    &_arrowback{
        position:absolute;
        left:0;
        padding:$padding-section;
        font-size:map-get($sizes,margin);
    }
    &_img {
      margin: 0;
    }
  }
.menurestaurantsimg{
    position:relative;
    z-index: 1;
    margin-bottom:$margin-img;
    height: 300px;
    width: 100%; 
    object-fit:cover;
    @media (min-width:500px){
    height: 550px;
    margin-bottom:$margin-img;
    }
    @media (min-width:900px){
    margin-top:$margin-img;
    height: 750px;
    margin-bottom:$margin-img;
    }
    @media (min-width:1200px){
    height: 1000px;
    margin-top:$margin-img;
    margin-bottom:$margin-img;
    }
}
.menu{
    position:relative;
    z-index:2;
    display: flex;
    flex-direction:column;
    background-color:$background-color; 
    padding:$padding-section;
    border-radius:$border-radius-menu;
&_header{
    display:flex;
    flex-direction: row;
    align-items: baseline;
    justify-content:space-between;
}/*revoir*/
&_headerlogo{
    font-size:$font-size-heart;
    padding:0px $padding-logo-header;
    transition: transform 80s all;
    background-clip:text;
    &:hover{
        &::before{
        @include degrade;
        opacity:1;
        transform:scale(1);
        }
    }
}
&_entrées, &_plats, &_desserts{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
&_title{
    padding:map-get($sizes,padding); 
    text-transform: uppercase;
    border-bottom:solid 3.5px $color-tertiary;
    padding-bottom:5px;
    padding-left:0;
    width:45px;
    margin-bottom:map-get($sizes,margin);
}
&_card{
    background-color:$color-white;
    padding:0.3rem 0.8rem;
    padding-top:5px;
    width:100%;
    height:71px;
    border-radius: 1.3rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(136, 136, 136, 0.25);
    position: relative;
}
.check{
    background-color:$color-tertiary;
    color:white;
    height:71px;
    font-size:$bigger-font-size;
    width:0%; 
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:nowrap;
    border-radius:1.3rem;
    margin-right:0;
    cursor:pointer;
    z-index:2;
    span{
        display:block;
        transform:rotate(0turn);
        transition:transform 300ms ease-in-out 50ms;
    }
    &:hover{
        width:15%;
        max-width:15%;
        border-radius:0rem 1.5rem 1.5rem 0rem;
        animation: slide 430ms linear backwards;
        span{
            transform:rotate(1turn);
        }
    }
}
@keyframes slide{
    0%{
width:0%;
    }
    50%{
width:15%;
    }
}
&_allcard{
    font-size:map-get($sizes,padding);
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-bottom:15px;
    cursor:pointer;
    animation:app 2000ms both 800ms;
    transform-origin:top;
    opacity:0;
    &--1{
        animation-delay:500ms;
    }
    &--2{
        animation-delay:1000ms;
    }
    &--3{
        animation-delay:1500ms;
    }
    &--4{
        animation-delay:2000ms;
    }
    &--5{
        animation-delay:2500ms;
    }
    &--6{
        animation-delay:3000ms;
    }
    &--7{
        animation-delay:3500ms;
    }
    &--8{
        animation-delay:4000ms;
    }
    &--9{
        animation-delay:4500ms;
    }
    &:hover{
        .menu_card{
            border-radius: 1.5rem 0rem 0rem 1.5rem;
            cursor:pointer;
            z-index:1;
            &:hover + .check{
                border-radius:0rem 1.5rem 1.5rem 0rem;
                width:15%;
                opacity:1;  
                animation: slide 430ms linear backwards;
                transform-origin:right;
                    span{
                        transform:rotate(1turn);
                    }
            }
        }
    }
}
@keyframes app{
    from{
    transform :scaley(1) translatey(30%);
    }
    to{
    transform :scaley(1) translatey(0);
    opacity:1;
    }
}
&_cardtitle{
    margin: 0;
    font-size:18px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
&_desc{
   display:flex;
   flex-direction:row;
   justify-content: space-between;
   align-items:baseline;
   flex-wrap:nowrap;
   cursor:pointer;
   font-size:15.5px;
   padding-bottom:5px;
}  
&_desctitle{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    padding-top:5px;
}
&_descprice{
    margin-right:10px;
    font-weight:bold;
}
}
.bouton{
    display:flex;
    justify-content:center;
    margin:$margin-bouton;
&_container{
    text-align:center;
    border: 0;
    padding: $padding-bouton-menu;
    font-weight:$font-weight-bouton;
    font-size:$font-size-bouton;
    border-radius: $border-radius-bouton;
    cursor: pointer;
    box-shadow: $box-shadow-bouton;
    transition: all 250ms ease-in-out;
    @include degrade;
    @media (min-width: 1100px) {
        font-size: $font-size;
        }
        &:hover{
            background-image: linear-gradient(0deg, $color-primary-light, $color-secondary-light);
            transform:scale(1.03);
            box-shadow:$box-shadow-bouton-hover;
        } 
}
    &_reservation{
        color:$color-white;

    }    
}



