@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*Couleurs*/
/*Tailes*/
/*Headerreservation*/
/*Bouton*/
/* et logo step*/
/*Fonctionnement*/
/*Restaurants*/
/*Menu*/
/*Cards*/
/*Toutes les pages*/
html,
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: auto;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration-line: none;
  color: #000;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  font-family: "Shrikhand", cursif;
}

h2 {
  padding: 5px;
  padding-left: 0px;
  margin: 0;
}

h3 {
  padding-top: 5px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Footer*/
.footer {
  background-color: #272626;
  height: 100%;
  color: #fff;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media (min-width: 1000px) {
  .footer {
    padding: 2rem 4rem;
  }
}
.footer_img {
  margin-right: 10px;
  font-size: 9px;
}
@media (min-width: 1000px) {
  .footer_img {
    font-size: 20px;
  }
}
.footer_logo {
  font-family: "Shrikhand", cursif;
  font-size: 1.5rem;
  font-weight: 400;
}
@media (min-width: 1000px) {
  .footer_logo {
    font-size: 1.7rem;
  }
}
.footer_link {
  color: #fff;
  font-weight: 300;
}
.footer_link:hover {
  color: #9356DC;
}
@media (min-width: 1000px) {
  .footer_link {
    font-size: 18px;
  }
}
.footer_list {
  list-style: none;
  padding: 0px 0px;
  width: 100%;
}
@media (min-width: 1000px) {
  .footer_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer_listtexte {
  padding-bottom: 10px;
}

/*Loader*/
.loader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  animation-name: load;
  animation-duration: 5000ms;
  animation-direction: reverse;
  background-color: #9356DC;
  z-index: -1;
}
.loader_element {
  z-index: 1;
  position: relative;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -100px;
  border: 5px solid #FF79DA;
  border-top-color: #99E2D0;
  border-bottom-color: #99E2D0;
  color: #9356DC;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  animation: rotate 0.5s linear both infinite;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.closeloader {
  z-index: 5;
  animation-name: load;
  animation-duration: 3000ms;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Header*/
.headerlogo {
  text-align: center;
  padding: 1rem;
  position: relative;
  font-family: "Shrikhand", cursif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.headerlogo_img {
  margin: 0;
}

.headerreservationloca {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.headerreservationloca_container {
  padding: 10.75px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  background-color: #e9e9e9;
  width: 100%;
  box-shadow: 0px 2px 4px 0px #afaeae inset;
}
@media (max-width: 1100px) {
  .headerreservationloca_container {
    padding: 4px 0;
  }
}
.headerreservationloca_logo {
  margin-right: 15px;
  font-size: 20px;
  text-align: center;
}
@media (min-width: 1100px) {
  .headerreservationloca_logo {
    font-size: 23px;
    height: 100%;
    max-height: 100%;
  }
}
.headerreservationloca_texte {
  margin: 0;
  font-size: 20px;
  padding-right: 25px;
  border: none;
  background-color: #e9e9e9;
  color: #000;
  text-align: center;
  width: 170px;
}
@media (min-width: 1100px) {
  .headerreservationloca_texte {
    font-size: 23px;
    font-weight: bold;
    width: 200px;
  }
}

.headerreservationtexte {
  background-color: #f5f5f5;
  padding: 49px;
  padding-bottom: 49px;
}
.headerreservationtexte_title {
  margin: 0;
  font-size: 23px;
}
.headerreservationtexte_byline {
  margin-bottom: 40px;
  color: #525252;
}
@media (min-width: 1100px) {
  .headerreservationtexte_byline {
    font-size: 20px;
    margin-bottom: 60px;
  }
}
.headerreservationtexte_bouton {
  border: 0;
  padding: 0.9rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(7, 7, 7, 0.25);
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  transition: all 250ms ease-in-out;
  display: inline-block;
}
.headerreservationtexte_bouton:hover {
  background-image: linear-gradient(0deg, #9370DC, #F780DC);
  box-shadow: 5px 5px 10px rgba(7, 7, 7, 0.4);
}
@media (min-width: 1100px) {
  .headerreservationtexte_bouton {
    font-size: 20px;
  }
}
@media (min-width: 1100px) {
  .headerreservationtexte {
    box-shadow: 0px 2px 4px 0px #afaeae inset;
    height: 100%;
    max-height: 100%;
  }
}

/*Fonctionnement*/
.fonctionnement {
  padding: 3rem 1.5rem 3rem 2rem;
  background-color: #fff;
}
.fonctionnement_title {
  margin-top: 0;
  margin-bottom: 30px;
}
@media (min-width: 1100px) {
  .fonctionnement_title {
    background-color: #e9e9e9;
    padding: 21px 0px;
    margin-bottom: 0;
    box-shadow: 0px 2px 4px 0px #afaeae inset;
    width: 100%;
    text-align: center;
  }
}
.fonctionnement_step {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1100px) {
  .fonctionnement_step {
    box-shadow: 0px 2px 4px 0px #afaeae inset;
    justify-content: space-evenly;
    padding: 30px 70px;
    row-gap: 1rem;
  }
}
.fonctionnement_part {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.25s;
  background-color: #f6f6f6;
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(136, 136, 136, 0.25);
  position: relative;
}
.fonctionnement_part:hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: #e5dbf1;
}
.fonctionnement_part:hover .fonctionnement_logo {
  color: #9356DC;
}
@media (min-width: 1100px) {
  .fonctionnement_part {
    background-color: #fff;
  }
}
.fonctionnement_part:nth-child(1) {
  margin-bottom: 10px;
}
.fonctionnement_part:nth-child(2) {
  margin: 10px 0px;
}
.fonctionnement_part:nth-child(3) {
  margin-top: 10px;
}
.fonctionnement_number {
  padding: 8px 12px;
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  left: -1rem;
  bottom: 1rem;
  font-size: 15px;
}
.fonctionnement_logo {
  padding-left: 1.5rem;
  margin-right: 20px;
  color: #afaeae;
  font-size: 1.1rem;
}
@media (min-width: 1100px) {
  .fonctionnement_container {
    background-color: #f5f5f5;
  }
}
@media (min-width: 1100px) {
  .fonctionnement {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    font-weight: bold;
  }
}

/*Rectangle-nouveau*/
.nouveau {
  margin: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  color: #006633;
  background-color: #99E2D0;
}

/*Version ordi - menu 3 colonnes et 2 colonnes header*/
@media (min-width: 1100px) {
  .menudesktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    align-items: baseline;
  }
}

@media (min-width: 1100px) {
  .headerdesktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

/*section restaurants*/
.restaurants {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  background-color: #f6f6f6;
  border-radius: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
@media (min-width: 1100px) {
  .restaurants_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 2rem;
  }
}
@media (max-width: 1100px) {
  .restaurants_container {
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(4, 1fr) auto;
    row-gap: 1rem;
  }
}
.restaurants_title {
  grid-column: 1/-1;
  padding: 1rem 0rem;
  margin: 10px 0px;
}
@media (min-width: 1100px) {
  .restaurants_title {
    padding-top: 10px;
  }
}
@media (max-width: 1100px) {
  .restaurants_title {
    grid-column: 1/-1;
    grid-row: 1/1;
  }
}
.restaurants_card {
  box-shadow: 0 0 20px #0000002e;
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 17rem;
  transition-duration: 0.1s;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 20px;
}
.restaurants_card:hover {
  transform: scale(1.02);
}
@media (min-width: 1100px) {
  .restaurants_card {
    height: 400px;
    width: 100%;
  }
}
@media (max-width: 1100px) {
  .restaurants_card1 {
    grid-column: 2/2;
    grid-row: 2/2;
  }
}
@media (max-width: 1100px) {
  .restaurants_card2 {
    grid-column: 2/2;
    grid-row: 3/3;
  }
}
@media (max-width: 1100px) {
  .restaurants_card3 {
    grid-column: 2/2;
    grid-row: 4/4;
  }
}
@media (max-width: 1100px) {
  .restaurants_card4 {
    grid-column: 2/2;
    grid-row: 5/5;
  }
}
.restaurants_cardwrapimg {
  position: relative;
  flex: 1;
}
.restaurants_cardwrapimgImg {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}
.restaurants_cardfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
}
.restaurants_cardDesc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 15px;
}
.restaurants_byline {
  margin: 0.4rem 1.5rem 1rem 0rem;
  font-size: 100%;
}
@media (min-width: 1100px) {
  .restaurants {
    background-color: #fff;
  }
}

/*logo coeur*/
.restaurants_logo {
  font-size: 25px;
  padding: 5px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 25px;
  cursor: pointer;
}
.restaurants_logo:hover:before {
  transition: all 220ms ease-in-out;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/*Header - logo & arrow*/
.headerlogo {
  background-color: #fff;
  position: relative;
  padding: 1rem;
  font-family: "Shrikhand", cursif;
  text-align: center;
  z-index: 2;
}
.headerlogo_arrowback {
  display: inline-block;
  position: absolute;
  left: 0;
  padding: 25px;
  font-size: 20px;
}
.headerlogo_img {
  margin: 0;
}

/*bannieres*/
.menurestaurantsimg {
  z-index: 1;
  margin-bottom: -17%;
  height: 300px;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 500px) {
  .menurestaurantsimg {
    height: 550px;
    margin-bottom: -17%;
  }
}
@media (min-width: 900px) {
  .menurestaurantsimg {
    margin-top: -17%;
    height: 750px;
    margin-bottom: -17%;
  }
}
@media (min-width: 1200px) {
  .menurestaurantsimg {
    height: 1000px;
    margin-top: -17%;
    margin-bottom: -17%;
  }
}

/*Section Menu*/
.menu {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 25px;
  border-radius: 50px 50px 0 0;
  /*revoir logo*/
}
.menu_header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.menu_headerlogo {
  font-size: 28px;
  padding: 0px 10px;
  cursor: pointer;
}
.menu_headerlogo:hover:before {
  transition: all 220ms ease-in-out;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.menu_entrées, .menu_plats, .menu_desserts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu_title {
  padding: 1rem;
  text-transform: uppercase;
  border-bottom: solid 3.5px #99E2D0;
  padding-bottom: 5px;
  padding-left: 0;
  width: 45px;
  margin-bottom: 20px;
}
.menu_allcard {
  border-radius: 1.5rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  animation: app 2000ms both 800ms;
  transform-origin: top;
  opacity: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(136, 136, 136, 0.25);
  background-color: #fff;
  overflow: hidden;
}
.menu_allcard--1 {
  animation-delay: 500ms;
}
.menu_allcard--2 {
  animation-delay: 1000ms;
}
.menu_allcard--3 {
  animation-delay: 1500ms;
}
.menu_allcard--4 {
  animation-delay: 2000ms;
}
.menu_allcard--5 {
  animation-delay: 2500ms;
}
.menu_allcard--6 {
  animation-delay: 3000ms;
}
.menu_allcard--7 {
  animation-delay: 3500ms;
}
.menu_allcard--8 {
  animation-delay: 4000ms;
}
.menu_allcard--9 {
  animation-delay: 4500ms;
}
.menu_allcard:hover .menu_card {
  border-radius: 1.5rem 0rem 0rem 1.5rem;
  cursor: pointer;
}
.menu_allcard:hover .menu_card:hover + .check {
  border-radius: 0rem 1.5rem 1.5rem 0rem;
  width: 85px;
  opacity: 1;
  animation: slide 430ms linear;
  transform-origin: right;
}
.menu_allcard:hover .menu_card:hover + .check span {
  transform: rotate(1turn);
}
@keyframes app {
  from {
    transform: scaley(1) translatey(30%);
  }
  to {
    transform: scaley(1) translatey(0);
    opacity: 1;
  }
}
.menu_card {
  width: 100%;
  min-width: 80%;
  padding: 0.3rem 0.8rem;
}
.menu_cardtitle {
  margin: 0;
  font-size: 18px;
}
.menu_desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
  cursor: pointer;
  font-size: 15.5px;
  padding-bottom: 5px;
}
.menu_desctitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 5px;
}
.menu_descprice {
  margin-right: 10px;
  font-weight: bold;
}

/*Slide check*/
.check {
  background-color: #99E2D0;
  color: white;
  height: 70px;
  font-size: 23px;
  width: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  margin-right: 0;
  cursor: pointer;
}
.check span {
  display: block;
  transform: rotate(0turn);
  transition: transform 300ms ease-in-out 125ms;
}
.check:hover {
  width: 85px;
  max-width: 85px;
  border-radius: 0rem 1.5rem 1.5rem 0rem;
  animation: slide 430ms linear;
}
.check:hover span {
  transform: rotate(1turn);
}
.check:not(:hover) {
  animation: slide-reverse 200ms linear;
  border-radius: 0rem 1.5rem 1.5rem 0rem;
}

@keyframes slide {
  0% {
    width: 0%;
  }
  100% {
    width: 85px;
  }
}
@keyframes slide-reverse {
  0% {
    width: 85px;
  }
  100% {
    width: 0%;
  }
}
/*Bouton commander*/
.bouton {
  display: flex;
  justify-content: center;
  margin: 15px;
}
.bouton_container {
  text-align: center;
  border: 0;
  padding: 0.9rem 3rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(7, 7, 7, 0.25);
  transition: all 250ms ease-in-out;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
}
@media (min-width: 1100px) {
  .bouton_container {
    font-size: 20px;
  }
}
.bouton_container:hover {
  background-image: linear-gradient(0deg, #9370DC, #F780DC);
  box-shadow: 5px 5px 10px rgba(7, 7, 7, 0.4);
}
.bouton_reservation {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
