.headerdesktop{
    @media (min-width:1100px){
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
  .headerreservationloca {
    display: flex;
    flex-direction: column;
    text-align: center;
    &_container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
      background-color: $gray;
      padding: 22px 0px;
      width: 100%;
      @include inset-shadow;
    }
    &_logo {
      margin-right: 15px;
      font-size: $font-size;
      @media (min-width: 1100px) {
        font-size: $title-font-size;
        height: 100%;
        max-height: 100%;
      }
    }
    &_texte {
      margin: 0;
      font-size:$font-size;
      padding-right: 30px;
      @media (min-width:1100px){
      font-size: $title-font-size;
      }
    }
  }
  .headerreservationtexte {
    background-color: $light-gray;
    padding: 45px;
    padding-bottom:65px;
    height: 100%;
    &_title {
      margin: 0;
      font-size: $title-font-size;
    }
    &_byline {
      margin-bottom: 40px;
      font-size: 16px;
      @media (min-width: 1100px) {
        font-size: $font-size;
        margin-bottom: 60px;
      }
    }
    &_bouton {
      border: 0;
      padding: 0.9rem 1.5rem;
      font-weight: 500;
      font-size: 1.1rem;
      border-radius: 50px;
      color: $color-white;
      cursor: pointer;
      box-shadow: 3px 3px 10px rgba(7, 7, 7, 0.25);
      transition: transform 450ms;
      @include dégradé;
        @media (min-width: 1100px) {
          font-size: $font-size;
        }
        &:hover{
          transform:scale(1.2);
        }
    }
    @media (min-width: 1100px) {
      @include inset-shadow;
      height: 100%;
      max-height: 100%;
      padding: 60px;
    }
  }
  
  /*Fonctionnement*/
  .fonctionnement {
    padding: 3rem 1.5rem;
    &_title {
      margin-top: 0;
      margin-bottom: 30px;
      @media (min-width: 1100px) {
        font-size: $title-font-size;
        background-color: $gray;
        padding: 22px 0px;
        margin-bottom: 0;
        @include inset-shadow;
        width: 100%;
        text-align: center;
      }
    }
    &_step {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      @media (min-width: 1100px) {
        @include inset-shadow;
        justify-content: space-evenly;
        padding: 30px 15%;
        row-gap: 1rem;
      }
    }
    &_part {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: baseline;
      font-weight: bold;
      font-size: 16px;
      transition-duration: 0.25s;
      background-color:$background-color;
      padding: 1.5rem;
      border-radius: 1.5rem;
      box-shadow: 0.25rem 0.25rem 0.5rem rgba(136, 136, 136, 0.25);
      position: relative;
      &:hover {
        cursor: pointer;
        transform: scale(1.02);
        background-color: #e5dbf1;
      }
      @media (min-width: 1100px) {
        background-color: $color-white;
      }
    }
    &_part:nth-child(1) {
      margin-bottom: 10px;
    }
    &_part:nth-child(2) {
      margin: 10px 0px;
    }
    &_part:nth-child(3) {
      margin-top: 10px;
    }
    &_number {
      padding: 8px 12px;
      background-color: $color-primary;
      color: $color-white;
      border-radius: 50%;
      position: absolute;
      left: -1rem;
      bottom: 1rem;
      font-size: 15px;
    }
    &_logo {
      padding-left: 1.5rem;
      margin-right: 20px;
      color: $shadows-color;
      font-size: 1.1rem;
      &:hover {
        color: $color-primary;
      }
    }
    @media (min-width: 1100px) {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr;
      font-weight: bold;
    }
    &_container {
      @media (min-width: 1100px) {
        background-color:$light-gray;
      }
    }
  }
  /*section restaurants*/
  .restaurants {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    background-color: $background-color;
    border-radius: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 25px 16px;
    &_container {
      @media (min-width: 1100px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        column-gap: 2rem;
      }
      @media (max-width: 1100px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(4, 1fr) auto;
        row-gap: 1rem;
      }
    }
    &_title {
      grid-column: 1/-1;
      padding: 1rem 0rem;
      margin: 10px 0px;
      @media (min-width: 1100px) {
        padding-top: 30px;
      }
      @media (max-width: 1100px) {
        grid-column: 1/-1;
        grid-row: 1/1;
      }
    }
    &_card {
      box-shadow: 0 0 20px #0000002e;
      border-radius: 1.5rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      height: 17rem;
      transition-duration: 0.1s;
      margin-right: 0px;
      margin-left: 0px;
      margin-bottom: 20px;
      &:hover {
        transform: scale(1.02);
      }
      @media (min-width: 1100px) {
        height: 400px;
        width: 100%;
      }
    }
    &_card1 {
      @media (max-width: 1100px) {
        grid-column: 2/2;
        grid-row: 2/2;
      }
    }
    &_card2 {
      @media (max-width: 1100px) {
        grid-column: 2/2;
        grid-row: 3/3;
      }
    }
    &_card3 {
      @media (max-width: 1100px) {
        grid-column: 2/2;
        grid-row: 4/4;
      }
    }
    &_card4 {
      @media (max-width: 1100px) {
        grid-column: 2/2;
        grid-row: 5/5;
      }
    }
    &_cardwrapimg {
      position: relative;
      flex: 1;
    }
    &_cardwrapimgImg {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &_cardfooter {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &_logo {
      font-size: 25px;
      margin-right: 20px;
      margin-top: 20px;
      margin-bottom: 30px;
      &:hover {
        @include dégradé;
      }
    }
    &_cardDesc {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &_heading {
      margin: 1rem 1.5rem 0rem 1.5rem;
      font-size: 100%;
    }
    &_byline {
      margin: 0.4rem 1.5rem 1rem 1.5rem;
      font-size: 100%;
    }
    @media (min-width: 1100px) {
      background-color: $color-white;
    }
  }
 